.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e23f3f;
  border-bottom: 1px solid #ddd;
}

.navbar-custom {
  background-color: #dc3545; /* Kırmızı arka plan rengi */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .dropdown-item {
  color: white !important; /* Beyaz yazı rengi */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}

.brochure-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.brochure-title {
  margin-bottom: 1rem;
}

.download-button {
  background-color: #ddd;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.brochure-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
