.brochure-item {
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 0.5rem;
  text-align: center;
  width: 220px; /* Kutucuk genişliği */
  height: 280px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; /* İçeriğin sınırlar içinde kalmasını sağlar */
  margin: 0.5rem; /* Kutucuklar arası boşluk */
}

.brochure-title {
  margin: 0;
  font-size: 1.2rem;
  background-color: #e01e1e;
  color: white;
  padding: 0.5rem 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  box-sizing: border-box;
}

.download-button {
  color: #ffffff;
  background-color: #e01e1e;
  border: none;
  padding: 0.25rem 2rem;
  cursor: pointer;
  font-size: 0.85rem;
  border-radius: 6px;
  align-self: center;
}

.brochure-list {
  display: flex;
  flex-wrap: wrap; /* Kutucukların yan yana sıralanmasını sağlar */
  gap: 1rem; /* Kutucuklar arası boşluk */
  justify-content: flex-end; /* Sağa yaslanma */
  padding: 1rem;
}

.brochure-content {
  margin-top: 2.5rem; /* Başlığın altındaki içeriği itme */
  flex-grow: 1; /* Kullanılabilir alanı kullan */
  display: flex;
  flex-direction: column;
  justify-content: center; /* İçeriği dikey olarak ortala */
  align-items: center;
}

/* Filter menu styles */
.filter-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.filter-menu select,
.filter-menu input {
  padding: 0.5rem;
  font-size: 1rem;
}

/* Social icons styles */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.qr-code {
  margin: 1rem 0;
  flex-grow: 1; /* QR kodunun mevcut alanı doldurmasını sağlar */
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Brochure form styles */
.brochure-form-container {
  margin-top: 1rem;
}

.brochure-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.brochure-form input,
.brochure-form textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.brochure-form button {
  padding: 0.5rem;
  background-color: #e01e1e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.brochure-form button:hover {
  background-color: #c01717;
}